<div class="fixedHeader">
<div class="scrollmenu">
  <a (click)="getSubCategories(0);"
     [routerLink]="['/products']"
     (mouseover)="hover=0" (mouseleave)="hover=0"
    [style.border-color]="appService.color"
    [style.color]="hover==0?'#fff':appService.color"
    [style.background-color]="selectedCat.id==0||hover==0?appService.color:''"

  (click)="filterBy('','')" [ngClass]="{'selectedCat':selectedCat.id == 0}"
  >{{'all'|translate}}</a>
  <a *ngFor= "let category of categories"
      (click)="getSubCategories(category.id)"
      [routerLink]="['/category',category.name, category.id]"
      [queryParams]="{ content_type : 'category', content_id : category.id }"
      queryParamsHandling="merge"
      (mouseover)="hover=category.id" (mouseleave)="hover=-1"
      [style.border-color]="appService.color"
      [style.color]="category.id==hover?'#fff':appService.color"
      [style.background-color]="category.id==selectedCat.id||category.id==hover?appService.color:''"
      (click)="filterBy(category,'')" [ngClass]="{'selectedCat':category.id==selectedCat.id}"
  >
    {{category.name}}
  </a>
</div>

<div class="scrollmenu">
    <a *ngFor= "let sub of subCategories" (click)="filterBy(selectedCat,sub.id)"
       [routerLink]="['/category',selectedCat.name, selectedCat.id,'sub',sub.name, sub.id]"
       queryParamsHandling="preserve"
       (mouseover)="hover=sub.id" (mouseleave)="hover=-1"
       [style.border-color]="appService.color"
       [style.color]="sub.id==hover?'#fff':appService.color"
       [style.background-color]="sub.id==selectedSubCat||sub.id==hover?appService.color:''"
       [ngClass]="{'selectedCat':sub.id==selectedSubCat}" >
       {{sub.name}}
    </a>
  </div>

</div>
<router-outlet></router-outlet>