

div.scrollmenu{
    overflow: auto;
    white-space: nowrap;
    // overflow: scroll;
    // -webkit-overflow-scrolling: touch;
    // position: fixed;
    // top: 0px;
    // width: inherit;
    z-index: 2;
    // background: whitesmoke;
}


div.scrollmenu a {

    display: inline-block;
    // color: rgb(255, 79, 9);
    text-align: center;
    padding: 14px;
    margin: 5px;
    text-decoration: none;
    // border-color: rgb(255, 79, 9);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    cursor: pointer;

}

div.scrollmenu a:hover {
//    background-color:rgb(255, 79, 9);
    color:white;
}

.selectedCat {
    color:white !important;    
//    background-color:rgb(255, 79, 9);
}



.fixedHeader{
//    position: fixed;
    top: 0px;
    // width: inherit;
    z-index: 2;
    background: whitesmoke;
  }