$orange-primary:  mat-palette($mat-deep-orange, A400 , 100, A700);
$orange-accent: mat-palette($mat-grey, 300, 100, 700);
$orange-warn: mat-palette($mat-red, A200);

$orange-theme: mat-light-theme($orange-primary, $orange-accent, $orange-warn);