<div class="top-menu">

    <!--<a mat-button [matMenuTriggerFor]="currencyMenu" #currencyMenuTrigger="matMenuTrigger">-->
        <!--{{currency}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>-->
    <!--</a>-->
    <!--<mat-menu #currencyMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">-->
        <!--<span (mouseleave)="currencyMenuTrigger.closeMenu()">-->
            <!--<button mat-menu-item *ngFor="let cur of currencies" (click)="changeCurrency(cur)">-->
                <!--<span>{{cur}}</span>-->
            <!--</button>-->
        <!--</span>-->
    <!--</mat-menu>-->

    <!--<app-languages></app-languages>-->

    <!--<span fxHide="false" fxHide.gt-sm>-->
        <!--<a mat-button [matMenuTriggerFor]="moreMenu" #moreMenuTrigger="matMenuTrigger" class="mobile-menu-icon">-->
            <!--<mat-icon class="more">more_vert</mat-icon>-->
        <!--</a>-->
        <!--<mat-menu #moreMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">-->
            <!--<span (mouseleave)="moreMenuTrigger.closeMenu()">-->
                <!--<a mat-menu-item routerLink="/sign-in">Sign in</a>-->
            <!--</span>-->
        <!--</mat-menu>-->
    <!--</span>-->
    <span *ngIf="!appService.logedIn">
        <a mat-button routerLink="/sign-in"><mat-icon>exit_to_app</mat-icon>
                            {{'sign_in' |translate}}
        </a>
    </span>
    <span *ngIf="appService.logedIn">
        <a mat-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger">
            <mat-icon>person_pin</mat-icon>
        </a>
        <mat-menu #langMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
            <span (mouseleave)="langMenuTrigger.closeMenu()">
                <div class="user-info" mat-menu-item fxlayout="row" fxlayoutalign="space-around center" style="flex-direction: row;">
                        <mat-icon>account_box</mat-icon>
                        {{appService?.user?.name}}
                </div>
                <div class="divider"></div>
                <a mat-menu-item routerLink="/my-account">
                    <mat-icon>person</mat-icon>
                    {{'profile' |translate}}
                </a>
                <a mat-menu-item (click)="signOut()">
                    <mat-icon>power_settings_new</mat-icon>
                    {{'sign_out' |translate}}
                </a>
            </span>
        </mat-menu>
    </span>

</div>