<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="45" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
    <h2 class="text-muted fw-500">{{'wallet_balance' | translate}} : {{myWallet?.wallet_money}} {{'SAR' | translate}}</h2>
    <div class="divider"></div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1 text-muted">
  <button  mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div>
    <button mat-icon-button (click)="changeViewType('list', 100)">
      <mat-icon>view_list</mat-icon>
    </button>
    <button mat-icon-button (click)="changeViewType('grid', 33.3)">
      <mat-icon>view_module</mat-icon>
    </button>
    <button mat-icon-button (click)="changeViewType('grid', 25)">
      <mat-icon>view_comfy</mat-icon>
    </button>
  </div>
</div>



<div *ngIf="viewType == 'grid'" fxLayout="row wrap" class="products-wrapper">
  <div *ngFor="let item of myWalletItems" fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col">
    <mat-card class="product-item text-center">
      <mat-chip-list>
        <mat-chip color="warn" selected="true">{{item?.status | translate}}</mat-chip>
      </mat-chip-list>
      <h4 class="title">
        {{item?.amount}}
      </h4>
      <h4 class="category text-muted">
        {{item?.created_at | date:'fullDate'}}
      </h4>
      <div class="divider mt-2"></div>
    </mat-card>
  </div>
</div>



<div *ngIf="viewType == 'list'" fxLayout="row wrap" class="products-wrapper">
  <div *ngFor="let item of myWalletItems" fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col">
    <mat-card class="product-item">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="80" class="p-2">
          <mat-chip-list class="list-view">
            <mat-chip color="warn" selected="true">{{item?.status}}</mat-chip>
          </mat-chip-list>
          <h4 class="title">
            {{item?.amount}}
          </h4>
        </div>
        <div class="divider"></div>
        <div fxFlex="100" fxFlex.gt-xs="100" class="p-2">
          <h4 class="category text-muted">
            {{item?.created_at | date:'fullDate'}}
          </h4>
        </div>
      </div>
    </mat-card>
  </div>
</div>
