<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h3>{{address.name}}</h3>
    </mat-card-title>
    <mat-card-subtitle >
      <p class="truncate" > 
          {{decription}}
      </p>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image 
  src="https://maps.googleapis.com/maps/api/staticmap?center={{address.latitude}},{{address.longitude}}&zoom=16&scale=1&size=400x200&maptype=roadmap&format=png&visual_refresh=true&key=AIzaSyDe_oVpi9eRSN99G4o6TwVjJbFBNr58NxE" 
  alt="Photo of a Shiba Inu">
  <mat-card-actions fxLayout fxLayoutAlign="center">
    <button (click)="delete()" mat-raised-button style="background-color: black;color: white">{{'DELETE' | translate}}</button>
    <button (click)="select()" mat-raised-button  style="background-color: #f56d13;color: white" >{{'SELECT_ADDRESS' | translate}}</button>
  </mat-card-actions>
</mat-card>
<br />