<div *ngIf="appService.cartMap.size == 0">
  <mat-chip-list>
      <mat-chip color="warn" selected="true">YOU HAVE NO ITEMS IN YOUR SHOPPING CART.</mat-chip>
  </mat-chip-list>
  <a [routerLink]="['/']" mat-raised-button color="primary" class="mt-2">Continue shopping</a>
</div>

<mat-card *ngIf="appService.cartMap.size > 0" class="p-0">

  <div class="mat-table cart-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Product</div>
      <div class="mat-header-cell">Name</div>
      <div class="mat-header-cell">Price</div>      
      <div class="mat-header-cell">Quantity</div>
      <div class="mat-header-cell">Total</div>
      <div class="mat-header-cell text-center">
        <div class="px-1">
          <button mat-raised-button color="warn" (click)="clear()">Clear All</button>
        </div>
      </div>
    </div>
    <div *ngFor="let entry of appService.cartMap.values()" class="mat-row">
      <div class="mat-cell"><img [src]="entry.product.images.small"></div>
      <div class="mat-cell"><a [routerLink]="['/products', entry.product.id, entry.product.name]" class="product-name">{{entry.product.name}}</a></div>
      <div class="mat-cell">${{entry.product.price | number : '1.2-2'}}</div>      
      <div class="mat-cell text-muted">
        <app-controls [product]="entry.product" [type]="'wish'" (onQuantityChange)="getTotalPrice($event)"></app-controls>
      </div>
      <div class="mat-cell">${{(entry.count * entry.product.price) | number : '1.2-2'}}</div>
      <div class="mat-cell text-center">
        <div class="p-1">
          <button mat-mini-fab color="warn" (click)="remove(entry.product)" matTooltip="Clear">
              <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      
    </div>
    <div class="mat-row">
      <div class="mat-cell"><a [routerLink]="['/products']" mat-raised-button color="primary">Continue shopping</a></div>
      <div class="mat-cell"></div>
      <div class="mat-cell"></div>
      <div class="mat-cell text-right">
        <div fxLayout="column" fxLayoutAlign="center end" class="grand-total px-2">
          <span class="new-price">Grand total:</span>
        </div>        
      </div>
      <div class="mat-cell">
        <div fxLayout="column" fxLayoutAlign="center start" class="grand-total">
          <span class="new-price">${{ appService.cartTotalPrice | number : '1.2-2'}}</span>
        </div>
      </div>
      <div class="mat-cell text-center"><a [routerLink]="['/checkout']" mat-raised-button color="primary">Proceed To Checkout</a></div>
    </div>
  </div>

</mat-card>