<mat-horizontal-stepper #horizontalStepper linear="false" class="mat-elevation-z2" fxShow="false" fxShow.gt-sm>
  <mat-step [stepControl]="deliveryAddressForm" label="{{'DELIVERY_ADDRESS' | translate}}">
    <form [formGroup]="deliveryAddressForm">     
      <div fxLayout="row wrap">
        <div fxFlex="100" class="px-1">
          <!-- <mat-form-field class="w-100">
              <input matInput placeholder="Address (street, apartment, suite, unit etc.)" 
                   [(ngModel)]="formatted_address"
                  formControlName="address" required>
          </mat-form-field> -->

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-subtitle >
                <p class="truncate" > 
                    {{ formatted_address }}
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image  height="300px" width="500px"
            src="https://maps.googleapis.com/maps/api/staticmap?center={{addressCoor.latitude}},{{addressCoor.longitude}}&lang={{lang}}&zoom=16&scale=1&size=1200x500&maptype=roadmap&format=png&visual_refresh=true&key=AIzaSyDe_oVpi9eRSN99G4o6TwVjJbFBNr58NxE" 
            alt="Photo of a Shiba Inu">
          </mat-card>


        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>navigate_next</mat-icon></button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="timeSlotsForm" label="{{'TIME_SLOTS' | translate}}">
    <form [formGroup]="timeSlotsForm">     
      <div fxLayout="row wrap">
        <div fxFlex="100" class="px-1">
              <!-- <input type="hidden"  placeholder="Address (street, apartment, suite, unit etc.)" 
                   [(ngModel)]="timeSlot"
                  formControlName="address" required> -->
                  <app-timeslots (selectTime)="selectselectTimeSlot($event)"></app-timeslots>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
          <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>navigate_before</mat-icon></button>
          <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>navigate_next</mat-icon></button>
        </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="paymentMethodForm" label="{{'PAYMENT_METHOD' | translate}}">
    <form [formGroup]="paymentMethodForm" class="p-2">
      <mat-radio-group formControlName="paymentsFCN" fxLayout="column" fxLayoutAlign="center" required name="methods">
        <mat-radio-button *ngFor="let method of paymentMethods" color="primary" [value]="method" class="mt-1"><b>{{method.name}}</b> {{method.desc}}</mat-radio-button>
      </mat-radio-group> 
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>navigate_before</mat-icon></button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>navigate_next</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="productNotFoundForm" label="{{ 'PRODUCT_NOT_FOUND' | translate }}">
    <form [formGroup]="productNotFoundForm">
        <mat-radio-group formControlName="productNotFoundFCN"  fxLayout="column" fxLayoutAlign="center" required name="methods">
            <mat-radio-button *ngFor="let option of productsUnAvailableOptions" color="primary" [value]="option" class="mt-1"><h3>{{option.title}}</h3> {{option.content}}</mat-radio-button>
          </mat-radio-group> 
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>navigate_before</mat-icon></button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>navigate_next</mat-icon></button>       
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="couponForm" label="{{ 'COUPONS' | translate }}">
      <form [formGroup]="couponForm">
          <mat-tab-group>
              <mat-tab label="{{ 'COUPON' | translate }}">
                <div fxFlex="100" fxFlex.gt-sm="33.3" >
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Please enter coupon number" formControlName="couponFCN" required>
                      <mat-error >{{coupon_message}}</mat-error>
                  </mat-form-field>
                  <button mat-raised-button type="button"  (click)="addCoupon()" color="primary"><mat-icon>check</mat-icon></button>
                </div>        
              </mat-tab>
              <mat-tab label="{{ 'VOUCHER' | translate }}">

              </mat-tab>
            </mat-tab-group>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
          <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>navigate_before</mat-icon></button>
          <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>navigate_next</mat-icon></button>       
        </div>
      </form>
    </mat-step>
  

  <mat-step label="Review Order">    
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted">Shopping Cart</h3>
        <div class="divider"></div>
        <div class="mat-table review-order-table">
          <div class="mat-header-row">
            <div class="mat-header-cell">Product</div>
            <div class="mat-header-cell">Name</div>
            <div class="mat-header-cell">Unit Price</div>      
            <div class="mat-header-cell">Quantity</div>
            <div class="mat-header-cell">Total</div>
          </div>
          <div *ngFor="let entry of appService.cartMap.values()" class="mat-row">
              <div class="mat-cell"><img [src]="entry.product.images.small"></div>
              <div class="mat-cell">{{entry.product.name}}</div>
              <div class="mat-cell">${{entry.product.price | number : '1.2-2'}}</div>      
              <div class="mat-cell text-muted"> {{entry.count}} </div>
              <div class="mat-cell">${{ ( entry.product.price * entry.count ) | number : '1.2-2'}}</div>
            </div>
        </div>
      </div> 
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Billing information</h3>
        <div class="divider"></div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Address:</p>
        <!-- <p>{{deliveryAddressForm.controls.address.value}}</p> -->
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Delivery information</h3>
        <div class="divider"></div>
        <!-- <p class="py-1">{{paymentMethodForm.controls.paymentsFCN.value['name']}} <span class="text-muted">{{paymentMethodForm.controls.paymentsFCN.value['desc']}}</span></p> -->
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Payment information</h3>
        <div class="divider"></div>
        <p class="py-1"><span class="text-muted mr-1">Card number:</span><span>XXX-XXX-XXX-7224</span></p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="p-1"> 
       <h2><span class="text-muted mr-1">Total Price:</span><span>${{appService.cartTotalPrice | number : '1.2-2'}}</span></h2>    
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
      <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>navigate_before</mat-icon></button>
      <button mat-raised-button matStepperNext color="primary" (click)="placeOrder()">Place order now</button>       
    </div>     
  </mat-step>
  <mat-step label="Confirmation">
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center"> 
      <button mat-fab color="primary" type="button" ><mat-icon>check</mat-icon></button>
      <h2 class="py-2">Congratulation! Your order has been processed</h2>
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus dolor ante, ut luctus mi faucibus a. Ut eu tincidunt neque. Proin porttitor id ligula id placerat. Integer nec nulla varius, dapibus libero quis, semper eros. Aliquam erat volutpat. Proin volutpat tellus vel purus interdum euismod.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
      <a [routerLink]="['/']" mat-raised-button color="primary">Return to Shop</a>       
    </div>
     
  </mat-step>
</mat-horizontal-stepper>

<!-- /////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////// -->

<mat-vertical-stepper #verticalStepper linear="true" class="mat-elevation-z2" fxHide="false" fxHide.gt-sm>
  <mat-step [stepControl]="deliveryAddressForm" label="Billing address">
    <form [formGroup]="deliveryAddressForm">     
      <div fxLayout="row wrap">
        <div fxFlex="100" class="px-1">
          <!-- <mat-form-field class="w-100">
              <input matInput placeholder="Address (street, apartment, suite, unit etc.)" formControlName="address" required>
              <mat-error *ngIf="deliveryAddressForm.controls.address.errors?.required">Address is required</mat-error>
          </mat-form-field> -->
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>expand_more</mat-icon></button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="timeSlotsForm" label="{{'TIME_SLOTS' | translate}}">
      <form [formGroup]="timeSlotsForm">     
        <div fxLayout="row wrap">
          <div fxFlex="100" class="px-1">
                <!-- <input type="hidden"  placeholder="Address (street, apartment, suite, unit etc.)" 
                     [(ngModel)]="timeSlot"
                    formControlName="address" required> -->
                    <app-timeslots (selectTime)="selectTimeSlot($event)"></app-timeslots>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
            <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>expand_less</mat-icon></button>
            <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>expand_more</mat-icon></button>
        </div>
      </form>
    </mat-step>
  

  <mat-step [stepControl]="paymentMethodForm" label="Delivery method">
    <form [formGroup]="paymentMethodForm" class="p-2">
      <mat-radio-group formControlName="paymentsFCN" fxLayout="column" fxLayoutAlign="center" required name="methods">
        <mat-radio-button *ngFor="let method of paymentMethods" color="primary" [value]="method" class="mt-1"><b>{{method.name}}</b> {{method.desc}}</mat-radio-button>
      </mat-radio-group> 
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>expand_less</mat-icon></button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>expand_more</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="productNotFoundForm" label="{{ 'PRODUCT_NOT_FOUND' | translate }}">
    <form [formGroup]="productNotFoundForm">
        <mat-radio-group formControlName="productNotFoundFCN" fxLayout="column" fxLayoutAlign="center" required name="methods">
            <mat-radio-button *ngFor="let method of productsUnAvailableOptions" color="primary" [value]="method" class="mt-1"><b>{{method.title}}</b> {{method.desc}}</mat-radio-button>
          </mat-radio-group> 
    
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>expand_less</mat-icon></button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>expand_more</mat-icon></button>       
      </div>
    </form>
  </mat-step>
  <mat-step label="Review Order">    
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted">Shopping Cart</h3>
        <div class="divider"></div>
        <div class="mat-table review-order-table">
          <div class="mat-header-row">
            <div class="mat-header-cell">Product</div>
            <div class="mat-header-cell">Name</div>
            <div class="mat-header-cell">Unit Price</div>      
            <div class="mat-header-cell">Quantity</div>
            <div class="mat-header-cell">Total</div>
          </div>
          <div *ngFor="let entry of appService.cartMap.values()" class="mat-row">
              <div class="mat-cell"><img [src]="entry.product.images.small"></div>
            <div class="mat-cell">{{entry.product.name}}</div>
            <div class="mat-cell">${{entry.product.price | number : '1.2-2'}}</div>      
            <div class="mat-cell text-muted"> 1 </div>
            <div class="mat-cell">${{entry.product.price | number : '1.2-2'}}</div>
          </div>
        </div>
      </div> 
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Billing information</h3>
        <div class="divider"></div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Address:</p>
        <!-- <p>{{deliveryAddressForm.controls.address.value}}</p> -->
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Delivery information</h3>
        <div class="divider"></div>
        <!-- <p class="py-1">{{paymentMethodForm.controls.paymentsFCN.value['name']}} <span class="text-muted">{{paymentMethodForm.controls.paymentsFCN.value['desc']}}</span></p> -->
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Payment information</h3>
        <div class="divider"></div>
        <p class="py-1"><span class="text-muted mr-1">Card number:</span><span>XXX-XXX-XXX-7224</span></p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="p-1"> 
       <h2><span class="text-muted mr-1">Total Price:</span><span>${{appService.cartTotalPrice| number : '1.2-2'}}</span></h2>    
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
      <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>expand_less</mat-icon></button>
      <button mat-raised-button matStepperNext color="primary" (click)="placeOrder()">Place order now</button>       
    </div>     
  </mat-step>
  <mat-step label="Confirmation">
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center"> 
      <button mat-fab color="primary"><mat-icon>check</mat-icon></button>
      <h2 class="py-2">Congratulation! Your order has been processed</h2>
      <p class="text-muted lh">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus dolor ante, ut luctus mi faucibus a. Ut eu tincidunt neque. Proin porttitor id ligula id placerat. Integer nec nulla varius, dapibus libero quis, semper eros. Aliquam erat volutpat. Proin volutpat tellus vel purus interdum euismod.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
      <a [routerLink]="['/']" mat-raised-button color="primary">Return to Shop</a>       
    </div>     
  </mat-step>
</mat-vertical-stepper>