<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="45" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2>{{order?.order_price }} {{'SAR' | translate}}</h2>
        <div class="py-1 lh">
            <p><span class="text-muted fw-500">{{order?.delivery_time}} {{order?.created_at | date:'fullDate'}}</span>
            </p>
        </div>
        <div class="divider"></div>
        <h2 *ngIf="orderStatus == orderStatuses.canceled">Order Canceled</h2>

    </div>
</div>
<div fxLayout="row wrap" class="mt-2">
    <div fxFlex="100" fxFlex.gt-md="60" fxFlex.md="60">
        <mat-card>
            <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
                <mat-tab label="{{'delivery_info'| translate}}">
                    <div class="full-desc lh">
                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-10">
                            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
                                <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="mat-icon-xlg text-muted m-0">schedule</mat-icon>
                                    <div class="content">
                                        <p>{{'delivery_time'| translate}}</p>
                                        <span class="text-muted m-0">{{order?.delivery_time}} {{order?.created_at | date:'fullDate'}}</span>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-16">
                            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
                                <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="mat-icon-xlg text-muted m-0">my_location</mat-icon>
                                    <div class="content">
                                        <p>{{'delivery_location'| translate}}</p>
                                        <span class="text-muted m-0">{{order?.address}}</span>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'products' | translate}}" *ngIf="order">
                    <div class="full-desc lh" *ngFor="let product of order.products">
                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-10">
                            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
                                <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="mat-icon-xlg text-muted m-0"><img src="{{product?.image}}"
                                                                                       height="48" width="48"/>
                                    </mat-icon>
                                    <div class="content">
                                        <p>{{product?.name}}</p>
                                        <span class="text-muted m-0">{{product?.price }} {{'SAR' | translate}}</span>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'unavailable_products' | translate}}" *ngIf="order?.deleted_products.length > 0">
                    <div class="full-desc lh" *ngFor="let product of order.deleted_products">
                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-10">
                            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
                                <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="mat-icon-xlg text-muted m-0"><img src="{{product?.image}}"
                                                                                       height="48" width="48"/>
                                    </mat-icon>
                                    <div class="content">
                                        <p>{{product?.name}}</p>
                                        <span class="text-muted m-0">{{product?.price }} {{'SAR' | translate}}</span>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'payment_details' | translate}}">
                    <div class="full-desc lh">
                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-10">
                            <div fxFlex="70" fxFlex.md="25" fxFlex.sm="50">
                                <mat-toolbar color="#cccccc">
                                <mat-toolbar-row>
                                    <span>{{'order_value' | translate}}</span>
                                    <span class="example-spacer"></span>
                                    <p class="example-icon">{{order?.order_price }} {{'SAR' | translate}}</p>
                                </mat-toolbar-row>
                                </mat-toolbar>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-10">
                            <div fxFlex="70" fxFlex.md="25" fxFlex.sm="50">
                                <mat-toolbar color="#cccccc">
                                    <mat-toolbar-row>
                                        <span>{{'delivery_fees' | translate}}</span>
                                        <span class="example-spacer"></span>
                                        <p class="example-icon">{{order?.delivery_fees }} {{'SAR' | translate}}</p>
                                    </mat-toolbar-row>
                                </mat-toolbar>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-10">
                            <div fxFlex="70" fxFlex.md="25" fxFlex.sm="50">
                                <mat-toolbar color="#cccccc">
                                    <mat-toolbar-row>
                                        <span>{{'vat_value' | translate}}</span>
                                        <span class="example-spacer"></span>
                                        <p class="example-icon">{{order?.vat_value }} {{'SAR' | translate}}</p>
                                    </mat-toolbar-row>
                                </mat-toolbar>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-10">
                            <div fxFlex="70" fxFlex.md="25" fxFlex.sm="50">
                                <mat-toolbar color="#cccccc">
                                    <mat-toolbar-row>
                                        <span>{{'vat_rate' | translate}}</span>
                                        <span class="example-spacer"></span>
                                        <p class="example-icon">{{order?.vat_rate}} %</p>
                                    </mat-toolbar-row>
                                </mat-toolbar>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-10">
                            <div fxFlex="70" fxFlex.md="25" fxFlex.sm="50">
                                <mat-toolbar color="#cccccc">
                                    <mat-toolbar-row>
                                        <span>{{'discount_value' | translate}}</span>
                                        <span class="example-spacer"></span>
                                        <p class="example-icon">{{order?.discount}} %</p>
                                    </mat-toolbar-row>
                                </mat-toolbar>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-10">
                            <div fxFlex="70" fxFlex.md="25" fxFlex.sm="50">
                                <mat-toolbar color="#E2EFDB">
                                    <mat-toolbar-row>
                                        <span>{{'total_price' | translate}}</span>
                                        <span class="example-spacer"></span>
                                        <p class="example-icon">{{order?.total_price }} {{'SAR' | translate}}</p>
                                    </mat-toolbar-row>
                                </mat-toolbar>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
    <mat-vertical-stepper #stepper [linear]="true" style="pointer-events: none;" *ngIf="orderStatus != orderStatuses.canceled" [selectedIndex]="orderStatus">
        <mat-step [editable]="false">
            <ng-template matStepLabel>
                <h3>{{'order_received' | translate}}</h3>
                <p>{{'order_received_msg' | translate}}</p>
            </ng-template>
        </mat-step>
        <mat-step [editable]="false">
            <ng-template matStepLabel>
                <h3>{{'prepare_order' | translate}}</h3>
                <p>{{'prepare_order_msg' | translate}}</p>
            </ng-template>
        </mat-step>
        <mat-step [editable]="false">
            <ng-template matStepLabel>
                <h3>{{'on_way' | translate}}</h3>
                <p>{{'on_way_msg' | translate}}</p>
            </ng-template>
        </mat-step>
        <mat-step [editable]="false">
            <ng-template matStepLabel>
                <h3>{{'order_delivered' | translate}}</h3>
                <p>{{'order_delivered_msg' | translate}}</p>
            </ng-template>
        </mat-step>
    </mat-vertical-stepper>
</div>

